# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Otros archivos innecesarios
target/          # Para proyectos Maven
build/           # Para proyectos Gradle
.gradle/         # Directorio oculto de Gradle

# Archivos de macOS
.DS_Store
**/.DS_Store

# Opcional: ignora logs y archivos temporales
*.log

# VSCode (si usas)
.vscode/